<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/css/globalStyles.css" />
    <link rel="stylesheet" href="../styles/css/userMenuHeader.css" />
    <link rel="stylesheet" href="../styles/css/product.css">
    <title>Document</title>
  </head>
  <body>
    <header>
      <img src="../images/lubriken-log-o-type.png" alt="logotype" />
      <nav class="desktop-menu">
        <ul>
          <li>Inicio</li>
          <li>Sobre nosotros</li>
          <li>Nuestros Productos</li>
          <li>Iniciar Sesión</li>
        </ul>
      </nav>
      <nav id="mobile-menu">
        <ul>
          <li>Inicio</li>
          <li>Sobre nosotros</li>
          <li>Nuestros Productos</li>
          <li>Iniciar Sesión</li>
        </ul>
      </nav>
      <button id="mobile-menu-btn">☰</button>
    </header>
    <script src="../js/header-component.js"></script>
  </body>
</html>
