# Habilita el módulo de reescritura
RewriteEngine On

# Si el usuario solicita el directorio raíz (por ejemplo, /auth_php/)
# Y no existe un archivo index.php, index.html, etc.
# Redirige internamente a dashboard.php
RewriteRule ^$ dashboard.php [L]