body {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  min-height: 100vh;
  align-items: center;
  gap: 20px;
  justify-content: center;
  div {
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    border: 1px solid red;
    padding: 10px;
    border-radius: 10px;
    ul {
      display: flex;
      flex-flow: column nowrap;
      list-style: none;
      text-align: start;
      li {
        color: red;
      }
    }
  }
  form {
    display: flex;
    flex-flow: column nowrap;
    max-width: 300px;
    width: 100%;
    height: auto;
    padding: 20px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    a {
      text-decoration: none;
      color: #F78432;
      font-weight: bold;
      transition: 0.5s;
      &:hover {
        color: rgb(1, 136, 182);
      }
    }
    section {
      display: flex;
      flex-flow: column nowrap;
      width: 90%;
      gap: 5px;
    }
    button {
      padding: 10px;
      border-radius: 10px;
      border: none;
      background-color: aqua;
      cursor: pointer;
      color: white;
      font-weight: bold;
      transition: 0.5s;
      &:hover {
        background-color: rgb(1, 136, 182);
      }
    }
  }
}
